# Dependencies
node_modules/
.pnpm-store/

# Next.js
.next/
out/

# Java
target/
*.class

# Env
.env
.env.local
.env.production
.env.development
application-local.properties
application-dev.properties

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log